# CONNECT DATABASE

In [1]:
# pip install mysql-connector-python

In [3]:
import mysql.connector as a

In [5]:
passwd = str(input("DATABASE PASSWORD: "))
con = a.connect(host="localhost" , user = "root", passwd = passwd)

DATABASE PASSWORD:  123456

# SELECT DATABASE IF EXIST OR CREATE DATABASE IF DOES NOT EXIST

In [7]:
c = con.cursor()

c.execute("SHOW DATABASES")
dl = c.fetchall()

dl2 = []
for i in dl:
    dl2.append(i[0])

if "myrailway" in dl2:
    sql = "USE myrailway"
    c.execute(sql)
else:
    sql1 = "CREATE DATABASE myrailway"
    c.execute(sql1)
    sql2 = "USE myrailway"
    c.execute(sql2)
    
    # Creating tables in the myrailway database
    sql3 = """CREATE TABLE Train (
        Name VARCHAR(50), 
        Cost INTEGER,
        Distance INTEGER,
        Date VARCHAR(20)
    )"""
    c.execute(sql3)
    
    sql4 = """CREATE TABLE Customer (
        Name VARCHAR(50), 
        Train VARCHAR(25), 
        Payment INTEGER, 
        Date VARCHAR(20), 
        Phone VARCHAR(20)
    )"""
    c.execute(sql4)
    
    sql5 = """CREATE TABLE Bill (
        Detail VARCHAR(50), 
        Cost INTEGER, 
        Date VARCHAR(20)
    )"""
    c.execute(sql5)
    
    sql6 = """CREATE TABLE Worker (
        Name VARCHAR(100), 
        Work VARCHAR(20), 
        Salary VARCHAR(20)
    )"""
    c.execute(sql6)
    
    con.commit()

# SYSTEM PASSWORD LOGIN

In [10]:
def signin(): 
    
    print("\n")
    print("     -------->>>>>>>>> Welcome, My Railway System [MRS] <<<<<<<<<--------")
    print("\n")
    
    p = input("System Password: ")
    
    if p == "mrs111":
        options()
    else:
        signin()

# PROJECT WORKING OPTIONS

In [13]:
def options():
    print("""
                1.    Add Train
                2.    Book Train
                3.    Add Bill
                4.    Add Worker
                5.    Display Train
                6.    Display Payments
                7.    Display Bills
                8.    Display Workers
    """)
    choice = input("Select Option: ")
    while True:
        if (choice == '1'):
            AddTrain()
        elif (choice=='2'):
            BookTrain()
        elif (choice=='3'):
            AddBill()
        elif (choice=='4'):
            AddWorker()
        elif (choice=='5'):
            dTrain()
        elif (choice=='6'):
            dPayments()
        elif (choice=='7'):
            dBills()
        elif (choice=='8'):
            dWorker()
        else:
            print("Enter Again..........")
            options()

# function to add new Trains data into Train table

In [16]:
def AddTrain():
    n = input("Train Name: ")
    c = input("Cost: ")
    b = input("Distance: ")
    d = input("Date: ")
    data = (n,c,b,d)
    
    sql = 'insert into Train values(%s, %s, %s,%s)'
    c = con.cursor()
    c.execute(sql,data)
    con.commit()
    print("Data Inserted Successfully")
    options()

# function to Display data from Train table

In [19]:
def dTrain():
    sql = "select * from Train"
    c = con.cursor()
    c.execute(sql)
    d = c.fetchall()
    
    for i in d:
        print(" Name: ",i[0])
        print(" Cost: ",i[1])
        print(" Distance: ",i[2])
        print(" Date: ",i[3])
        print(".......................................................... ")
    options()

# function to add selling data into Customer table

In [22]:
def BookTrain():
    n = input("Customer Name: ")
    s = input("Train: ")
    py = int(input("Payment: "))
    d = input("Date: ")
    p = input("Phone: ")
    data = (n,s,py,d,p)
    sql = "insert into Customer values(%s, %s,%s,%s,%s)"
    c = con.cursor()
    c.execute(sql,data)
    con.commit()
    print("Data Inserted Successfully")
    options()

# function to Display selling data from Customer table

In [25]:
def dPayments():
    sd = input("Date: ")
    
    sql = 'select * from Customer'
    c = con.cursor()
    c.execute(sql)
    d = c.fetchall()
    
    for i in d:
        if i[3] == sd:
            print(" Name: ",i[0])
            print(" Train: ",i[1])
            print(" Payment: ",i[2])
            print("Date: ",i[3])
            print(" Phone: ",i[4])
            print(".............................................")
            
    options()

# function to add new bills

In [28]:
def AddBill():
    dt = input("Detail: ")
    c = input("Cost: ")
    d=input("Date: ")
    data = (dt,c,d)
    sql = 'insert into Bills values(%s, %s,%s)'
    c = con.cursor()
    c.execute(sql,data)
    con.commit()
    print("Data Inserted Successfully")
    options()

# function to display all previous bills

In [31]:
def dBills():
    sd = input("Date: ")
    sql = 'select * from Bills'
    c = con.cursor()
    c.execute(sql)
    d = c.fetchall()
    for i in d:
        print("Detail: ",i[0])
        print(" Cost: ",i[1])
        print("Date: ",i[2])
        print("............................................")
    options()

# function to add new worker

In [34]:
def AddWorker():
    n = input("Name: ")
    w = input("Work: ")
    s = input("Salary: ")
    data = (n,w,s)
    sql = 'insert into Worker values(%s, %s,%s)'
    c = con.cursor()
    c.execute(sql,data)
    con.commit()
    print("Data Inserted Successfully")
    options()

# function to display all workers

In [37]:
def dWorker():
    sql = 'select * from Worker'
    c = con.cursor()
    c.execute(sql)
    d = c.fetchall()
    for i in d:
        print(" Name: ",i[0])
        print(" Work: ",i[1])
        print(" Salary: ",i[2])
        print("...............................................")
    options()

In [ ]:
signin()

     -------->>>>>>>>> Welcome, My Railway System [MRS] <<<<<<<<<--------

System Password:  mrs111

                1.    Add Train
                2.    Book Train
                3.    Add Bill
                4.    Add Worker
                5.    Display Train
                6.    Display Payments
                7.    Display Bills
                8.    Display Workers

Select Option:  1
Train Name:  mumbai to delhi 123587
Cost:  1200
Distance:  800
Date:  15/09/2024

Data Inserted Successfully

                1.    Add Train
                2.    Book Train
                3.    Add Bill
                4.    Add Worker
                5.    Display Train
                6.    Display Payments
                7.    Display Bills
                8.    Display Workers

Select Option:  1
Train Name:  Warangal to patna 121255
Cost:  2350
Distance:  1900
Date:  11/11/2024

Data Inserted Successfully

                1.    Add Train
                2.    Book Train
                3.    Add Bill
                4.    Add Worker
                5.    Display Train
                6.    Display Payments
                7.    Display Bills
                8.    Display Workers

Select Option:  5

 Name:  mumbai to delhi 123587
 Cost:  1200
 Distance:  800
 Date:  15/09/2024
..........................................................
 Name:  Warangal to patna 121255
 Cost:  2350
 Distance:  1900
 Date:  11/11/2024
..........................................................

                1.    Add Train
                2.    Book Train
                3.    Add Bill
                4.    Add Worker
                5.    Display Train
                6.    Display Payments
                7.    Display Bills
                8.    Display Workers

Select Option:  2
Customer Name:  Ganesh Kumar Sah
Train:  Warangal to patna 121255
Payment:  2350
Date:  10/05/24
Phone:  7492982407

Data Inserted Successfully

                1.    Add Train
                2.    Book Train
                3.    Add Bill
                4.    Add Worker
                5.    Display Train
                6.    Display Payments
                7.    Display Bills
                8.    Display Workers

Select Option:  6
Date:  10/05/2024

                1.    Add Train
                2.    Book Train
                3.    Add Bill
                4.    Add Worker
                5.    Display Train
                6.    Display Payments
                7.    Display Bills
                8.    Display Workers